{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block main %}
		<main>
			<div class="no-pad-bot section" id="index-banner">
				<div class="container">
					<h1 class="header center primary-text">Zero Industries</h1>
					<div class="row">
						<h5 class="center accent-text"><span class="typed"></span></h5>
						<h5 class="array center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="section">
					<div class="row">
						<div class="col s12 m6 center">
							<i class="material-icons medium accent-text">star</i>
							<h5 class="header center light">Fun for the whole family!</h5>
							<p>With attractions ranging from the "Tire Pots" to "Blast Off", every member of the family will be well entertained!</b></p>
						</div>
						<div class="col s12 m6 center">
							<i class="material-icons medium accent-text">star</i>
							<h5 class="header center light">Blah blah</h5>
							<p>blah blah</p>
						</div>
					</div>
				</div>
			</div>
		</main>
{% endblock %}

{% block js %}
<script src="{% static 'js/typed.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
