{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block main %}
		<main>
			<div class="no-pad-bot section" id="index-banner">
				<div class="container">
					<h1 class="header center blue-text">Zero Industries</h1>
					<div class="row center">
						<h5 class="light">Welcome to Zero Industries!</h5>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="section">
					<div class="row">
						<div class="col s12 m6 center">
							<i class="material-icons medium blue-text">vpn_key</i>
							<h5 class="header center light">blah blah</h5>
							<p>blah blah blah</b></p>
						</div>
						<div class="col s12 m6 center">
							<i class="material-icons medium blue-text">star</i>
							<h5 class="header center light">Blah blah</h5>
							<p>blah blah</p>
						</div>
					</div>
				</div>
			</div>
		</main>
{% endblock %}
