{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Resources{% endblock %}

{% block main %}
		<main>
			<div class="no-pad-bot section" id="index-banner">
				<div class="container">
					<h2 class="header center primary-text">Resources</h2>
				</div>
			</div>

			<div class="container">
        <div class="section">
          <div class="row">
            <div class="col s12 m6">
              <div class="card-panel light-primary">
                <span class="card-title accent-text"><b>Title</b></span>
                <p>Block Text</p>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="card-panel light-primary">
                <span class="card-title accent-text"><b>Title</b></span>
                <p>Block Text</p>
              </div>
            </div>

          </div>
        </div>
      </div>
		</main>
{% endblock %}
