{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Team{% endblock %}

{% block main %}
		<main>
			<div class="no-pad-bot section" id="index-banner">
				<div class="container">
					<h2 class="header center primary-text">The Team</h2>
				</div>
			</div>

			<div class="container">
				<div class="section">
					<div class="row">
						<div class="col m2 s12 center">
							<img class="circle" width="100%" src="{% static 'img/placeholder.png' %}">
						</div>
						<div class="col m10 s12">
							<h5>Antony Alvarado</h5>
							<p>Mechanical Engineer</p>
						</div>
					</div>
				</div>
				<div class="divider"></div>
				<div class="section">
					<div class="row">
						<div class="col m2 s12 center">
							<img class="circle" width="100%" src="{% static 'img/placeholder.png' %}">
						</div>
						<div class="col m10 s12">
							<h5>Raniel Calilung</h5>
							<p>Roller Coaster Engineer</p>
						</div>
					</div>
				</div>
				<div class="divider"></div>
				<div class="section">
					<div class="row">
						<div class="col m2 s12 center">
							<img class="circle" width="100%" src="{% static 'img/placeholder.png' %}">
						</div>
						<div class="col m10 s12">
							<h5>Tyrone Collins</h5>
							<p>Food Manager</p>
						</div>
					</div>
				</div>
				<div class="divider"></div>
				<div class="section">
					<div class="row">
						<div class="col m2 s12 center">
							<img class="circle" width="100%" src="{% static 'img/placeholder.png' %}">
						</div>
						<div class="col m10 s12">
							<h5>Bon Corpus</h5>
							<p>Safety Inspector</p>
						</div>
					</div>
				</div>
				<div class="divider"></div>
				<div class="section">
					<div class="row">
						<div class="col m2 s12 center">
							<img class="circle" width="100%" src="{% static 'img/placeholder.png' %}">
						</div>
						<div class="col m10 s12">
							<h5>Ashley Ertzman</h5>
							<p>Digital Marketer</p>
						</div>
					</div>
				</div>
				<div class="divider"></div>
				<div class="section">
					<div class="row">
						<div class="col m2 s12 center">
							<img class="circle" width="100%" src="{% static 'img/placeholder.png' %}">
						</div>
						<div class="col m10 s12">
							<h5>Shavonna Jackson</h5>
							<p>Money Manager</p>
						</div>
					</div>
				</div>
				<div class="divider"></div>
				<div class="section">
					<div class="row">
						<div class="col m2 s12 center">
							<img class="circle" width="100%" src="{% static 'img/placeholder.png' %}">
						</div>
						<div class="col m10 s12">
							<h5>Wesley Soo-Hoo</h5>
							<p>Software Engineer</p>
						</div>
					</div>
				</div>
				<div class="divider"></div>
				<div class="section">
					<div class="row">
						<div class="col m2 s12 center">
							<img class="circle" width="100%" src="{% static 'img/placeholder.png' %}">
						</div>
						<div class="col m10 s12">
							<h5>Kayla Vo</h5>
							<p>General Manager</p>
						</div>
					</div>
        </div>
      </div>
		</main>
{% endblock %}
